body {
    background-color: wheat;
    font-family: calibri, serif;
}
form{
    margin: 20px 0;
}
form input, select, button{
    padding: 5px;
}
table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid darkgrey;
}
table th, table td{
    padding: 10px;
    text-align: left;
}