<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Electron</title>
    <link rel="icon" type="image/x-icon" href="/images/storekeeper.ico">
    <link rel="stylesheet" type="text/css" href="/css/storekeeper.css">
    <script src="/js/libraries/jquery-3.6.1.js"></script>
    <script src="/js/sources/storekeeper.js"></script>
</head>
<body>
    <form>
        <b>
            <span th:text="#{lang.item-creation}"></span>
        </b>
        <br/>
        <input type="text" id="name" placeholder="Name">
        <br/>
        <input type="text" id="price" placeholder="Price">
        <br/>
        <input type="text" id="description" placeholder="Description">
        <br/>
        <select id="categoryName" style="width: 228px">
            <option value="Laptops">Laptops</option>
            <option value="Laptops">Accessories</option>
            <option value="Laptops">Phones</option>
        </select>
        <br/>
        <br/>
        <div  sec:authorize="isAuthenticated()">
            <button type="submit" class="add-item">
                <span th:text="#{lang.btn-add-item}"></span>
            </button>
        </div>
        <br/>
    </form>
    <table>
        <thead>
        <tr>
            <th style='width: 75px'>
                <span th:text="#{lang.select}"></span>
            </th>
            <th>
                <span th:text="#{lang.name}"></span>
            </th>
            <th>
                <span th:text="#{lang.price}"></span>
            </th>
            <th>
                <span th:text="#{lang.category}"></span>
            </th>
            <th>
                <span th:text="#{lang.description}"></span>
            </th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div  sec:authorize="isAuthenticated()">
        <button type="button" class="delete-item">
            <span th:text="#{lang.btn-delete-item}"></span>
        </button>
    </div>
    <div  sec:authorize="isAnonymous()">
        <h4>
            <a href="/login">
                <span th:text="#{lang.login}"></span>
            </a>
        </h4>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form name="logoutForm" th:action="@{/logout}" method="post">
            <button type="submit"  class="btn btn-primary" >
                <span th:text="#{lang.logout}"></span>
            </button>
        </form>
    </div>

    <div>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="ru" th:text="#{lang.ru}"></option>
        </select>
    </div>
</body>
</html>
